<div class="row">
    <div class="column mr-1">
        <input type="text" id="nick" autofocus />
    </div>
    <div class="column column-small column-middle">
        <button id="search">Search</button>
    </div>
</div>
<script>
    function redirect() {
        window.location.href = '/lifts/' + document.querySelector('#nick').value;
    }

    document.querySelector('#search').addEventListener('click', function (e) {
        e.preventDefault();

        redirect();
    });

    document.querySelector('#nick').addEventListener('keypress', function (e) {
        if (e.keyCode == 13) {
            redirect();
        }
    });
</script>
